.title1{ color: blue;
    font-size: 100px;
    background-color: rgb(240, 144, 0);
    text-align: center;

}
.text1{color: rgb(255, 0, 0);
    background-color: rgb(243, 138, 0);
    text-align: center;
    font-size: 35px;

}