.title1{ color: blue;
    font-size: 100px;
    text-align: center;

}
.text1{color: rgb(97, 129, 197);
    text-align: center;
    font-size: 35px;}
    body{
        background-image:url("momo1.webp");
          background-size: cover;
  background-position: center;
    }